body{
margin: 0;
}
table {
  background-color:#000000;
    border: 2px solid #000000;
    width: 400px;
    height: 350px;
    margin-left: 0px;
}

.ch {
  background-color:#C9E39E;
}
.nch {
  background-color:#DB9EE3;
}
.container{
  max-width: 960px;
  margin: 0 auto;
}
header{
height: 150px;
background-color:#EAAF9F;
width: 100vw;
}
header::after{
  content: "";
  clear: both;
  display: block;
}
.descript{
color: #CA1B1B;
float: left;
top: 0;
}
.logotip{
  float: left; 
  top: 0;
  margin: auto;
}

nav {
background-color:#F7B4B2;
width: 960px;
text-align: center;
margin: 0 auto;
}
nav a{
margin-left: 10px;
}

.footer {
     background-color: #EAAF9F;
     height: 70px;
    font-size: 40px;
}
.about{
background-color: #F5E1C0;
max-width: 960px;
margin: 0 auto;
}

